#contenido{
    width: 800px;
    margin: auto;
}

body{
    background: #ffffff;
    font-family: verdana;
}

center {
    margin-bottom: 1rem;
}

.text-success {
    color: #28a745!important;
    margin-block-start: auto;

}

aside
{
    background: #FDFDFD;
    float: right;
    width: 45%;
    height: 750px;
    margin-top: 50px;
}


section
{
    background: #FDFDFD;
    width: 50%;
    height: 700px;
    margin-top: 50px;
}

section.h2{
    margin-left: 250px;
}

label{
    margin-left: 80px;
}

input{
    margin-left: 80px;
    max-width: -webkit-fill-available;

}

textarea{
    margin-left: 80px;
    max-width: -webkit-fill-available;
}


button[type=button] {
    background-color: #7cda7c;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 40px;
    margin-left: auto;
 }

iframe{
    margin-top: 50px;
}







