#contenido{
    width: 800px;
    margin: auto;
}

body{
    background: #ffffff;
    font-family: verdana;
}

center {
    margin-bottom: 1rem;
}

.text-success {
    color: #28a745!important;
    margin-block-start: auto;

}

.table td, .table th {
    padding: 5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table p {
    font-size: x-large;
    text-align-last: center;
}