#contenido{
    width: 800px;
    margin: auto;
}

body{
    background: #ffffff;
    font-family: verdana;
}

.header{
    background: #ffffff;
    padding: 100px;
}
h3{
    text-align: center;
}
center {
    margin-bottom: 1rem;
}

.text-success {
    color: #28a745!important;
    margin-block-start: auto;

}

.text-justify {
    text-align: justify!important;
    margin: 50px;
}

header img {
    display: block;
    margin: auto;
}

p {
    margin-top: 50px;
    margin-bottom: 1rem;
    margin: 50px;
}

.sidebar1{
    background: #ffffff;
}

.sidebar2{
    background: #ffffff;
}

.contenido{
    background: #ffffff;
}
